Brewfile.lock.json
karabiner/
wireshark/
tmux/plugins/*
nvim/lazy-lock.json

*zcompdump*
.zsh_history
.zsh_sessions/
zsh/plugins/*

lazygit/state.yml

# Ignore everything except the actual config file
ssh/*
!ssh/config
