{
:profiles {
    ;; It seems the default profile in Karabiner is called "Default profile" so need to rename it
    :Default {
        :default true
    }
}

:devices {
    :apple [{:vendor_id 1452 :product_id 76}]
    :varmilo   [{:vendor_id 1452 :product_id 591}]
}

;; TODO
;; - Switch to another workspace using cmd+[1-9]
;; - Move active window to workspace using cmd+shift+[1-9]

:main [
    {:des "Remap caps to escape"
     :rules [
       [:##caps_lock :escape]
    ]}
    {:des "Switch between application windows"
     :rules [
       [:!Otab :!CSequal_sign]
       [:!OStab :!COSequal_sign]
    ]}
    {:des "Varmilo mappings"
     :rules [:varmilo
       [:##non_us_backslash :grave_accent_and_tilde]
       [:##grave_accent_and_tilde :non_us_backslash]
    ]}
]
}
